.bg-img {
  background-image: url("https://wallpaperaccess.com/full/185289.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}
